div.hero-unit
  h1 Welcome to Site Title
  p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
  p
    a(class='btn btn-primary btn-large') Learn more &raquo;

div.row
  div.span4
    h2 Etiam lobortis
    p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
    p
      a(class='btn', href='#') View details &raquo;
  div.span4
    h2 Phasellus lacus
    p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
    p
      a(class='btn', href='#') View details &raquo;
  div.span4
    h2 Aliquam vulputate
    p Lorem ipsum dolar sit amet, cons incidunt ut labore et dolore magn trud exercitation ullamcorpor susc vel eum irure dolor in reprehende dolore eu fugiat nulla pariatur.
    p
      a(class='btn', href='#') View details &raquo;